body {
    background: #dde4ee;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-01,
td,
th {
    border: 1px black solid;
    border-collapse: collapse;
}

.table-01 th {
    text-align: left;
    font-weight: normal;
}

.table-02 {
    text-align: center;
    border: 3px black solid;
    border-collapse: collapse;
}

.table-02 td:first-child {
    font-weight: bold
}